<h2><%= @room.name %></h2>

<ul id="chatroom" data-room-id="<%= @room.id %>" >
  <%= for message <- Enum.sort(@room.messages) do %>
    <li><%= message.user %> - <%= message.content %></li>
  <% end %>
</ul>

<input id="user-name" placeholder="Name"></input>
<input id="new-message" placeholder="Message"></input>

<%= link "Edit", to: room_path(@conn, :edit, @room) %>
<%= link "Back", to: room_path(@conn, :index) %>
